#Ejercicio 2.1: Manejo de Valores Nulos en un DataFrame

En este ejercicio, aprenderás a identificar y manejar valores nulos en un DataFrame. Reemplazarás los valores nulos de una columna con la media de los valores existentes.

Tareas:
1. Crea un DataFrame con valores nulos.
2. Identifica la cantidad de valores nulos en cada columna utilizando la función `isnull().sum()`.
3. Reemplaza los valores nulos en la columna `Age` con la media de los valores no nulos.
4. Muestra el DataFrame actualizado.

In [ ]:
# Paso 1: Importar las librerías necesarias
# -------------------------------------------
# Asegúrate de tener instaladas las librerías pandas y numpy.

import pandas as pd
import numpy as np

In [ ]:
# Paso 2: Crear el DataFrame con valores nulos
# -------------------------------------------
# Define un diccionario con datos, donde algunas columnas contienen valores nulos.

data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana"],
    "Age": [25, None, 30, None],
    "Score": [85, 88, None, 92]
}

# Crear el DataFrame
df = pd.DataFrame(data)

# Muestra el DataFrame inicial
print("DataFrame inicial:")
print(df)

DataFrame inicial:
      Name   Age  Score
0    Alice  25.0   85.0
1      Bob   NaN   88.0
2  Charlie  30.0    NaN
3    Diana   NaN   92.0

In [ ]:
# Paso 3: Identificar valores nulos
# -------------------------------------------
# Usa `isnull().sum()` para contar los valores nulos en cada columna.

print("\nValores nulos en cada columna:")
print(df.isnull().sum())

Valores nulos en cada columna:
Name     0
Age      2
Score    1
dtype: int64

In [ ]:
# Paso 4: Reemplazar valores nulos en la columna 'Age'
# -------------------------------------------
# Calcula la media de la columna `Age` y reemplaza los valores nulos con esta media.

mean_age = df["Age"].mean()  # Calcula la media
df["Age"].fillna(mean_age, inplace=True)  # Reemplaza valores nulos con la media

# Muestra el DataFrame actualizado
print("\nDataFrame después de reemplazar valores nulos en 'Age':")
print(df)

DataFrame después de reemplazar valores nulos en 'Age':
      Name   Age  Score
0    Alice  25.0   85.0
1      Bob  27.5   88.0
2  Charlie  30.0    NaN
3    Diana  27.5   92.0

<ipython-input-4-a3cb93bb0385>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(mean_age, inplace=True)  # Reemplaza valores nulos con la media